body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
footer{
  color: white;
  font-size: 18px;
  font-family: 'Press Start 2P', cursive;
}
#rules{
  font-size: 10px;
  margin-top: 60px;
  text-align: justify;
  /* letter-spacing: 1px; */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.virtual-key {
  position: fixed;
  /* bottom: 20px; */
  left: 50%;
  transform: translateX(-50%);
  /* z-index: 9999; */
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #011F3F;
  color: #fff;
}

.hidden {
  display: none;
}
@media only screen and (min-width: 767px) {
  /* Hide the virtual key on larger screens */
  .virtual-key {
    display: none;
  }

/* Style the virtual key */
}
@media (max-width: 767px) {
  .container{
    width: 90%;
  }
  #level-title{
    font-size: 1.5rem;
  }
  .btn {
    display: inline-block;
    margin: 10px;
    height: 70px;
    width: 70px;
  }

  footer{
    margin-top: 20%;
  }
}



